/*Navigation*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: obvia, sans-serif;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

body {
  background-color: #0d0d0d;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #bf0426;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
}

nav ul a {
  color: white;
  padding: 1em;
  text-decoration: none;
  font-size: 20px;
}

nav ul a:hover {
  background-color: #515a8c;
}

/*API Results*/

/*Card*/

.card {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 5%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.29);
  overflow: hidden;
  text-decoration: none;
}

.card:hover {
  transform: translate3D(0, -1px, 0) scale(1.05);
  transition: all 0.5s ease;
  cursor: pointer;
}
.card img {
  width: 140px;
  justify-content: center;
  align-self: center;
}

.name {
  font-size: 18px;
  margin: 5px;
  margin-bottom: 10px;
  text-align: center;
  color: #0d0d0d;
}

.population {
  margin: auto;
  padding: 5px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  color: #bf0426;
  text-align: center;
}

.population span {
  color: #515a8c;
}

.details-img {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.country-header {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
}

.big-card {
  background-color: white;
  padding: 1em;
  max-width: 600px;
  margin-top: 1em;
  margin-bottom: 3em;
}

.big-card h2 {
  color: #bf0426;
}

.big-card span {
  color: #bf0426;
}

.singleResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  padding: 1em;
  font-size: 15px;
  color: white;
  display: flex;
  width: 170px;
  text-decoration: none;
}

.back-button:hover {
  color: #f24957;
}

.loader {
  border: 25px solid white; /* Light grey */
  border-top: 25px solid #bf0426; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite;
  display: flex;
  position: absolute;
  top: 300px;
  left: 40%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-container {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.error-message {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 0, 0, 0.26);
  border: 1px solid darkred;
  color: darkred;
  padding: 1rem;
}

.theform {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  padding: 2em;
  background-color: white;
  border-radius: 1em;
  margin-left: 2rem;
  margin-right: 2rem;
}

.formitem {
  display: flex;
  flex-direction: column;
}
.theform input,
.theform button {
  width: 300px;
  font-size: 20px;
}

.formitem label {
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 5px;
  display: block;
}

.formbutton {
  padding: 1em;
  margin-top: 10px;
  background-color: #bf0426;
  border: none;
  color: white;
  cursor: pointer;
}

.formbutton:hover {
  background-color: #515a8c;
}

.form-error {
  display: none;
  color: Red;
  font-size: 12px;
  margin-bottom: 3px;
}

.gzValidate {
  color: green;
  display: none;
}
